<swiper-h [width]="menuWidth">
    <div swiperLeft>
        <core-menu></core-menu>
    </div>
    <div swiperCenter>
        <layout-v>
            <div layoutHeader>
                <layout-h>
                    <div layoutLeft (click)="openLeftMenu($event)">
                        <ion name="navicon"></ion>
                    </div>
                    <div layoutCenter>
                        杭州市
                    </div>
                    <div layoutRight (click)="openRightMenu($event)">
                        <ion name="ios-email-outline"></ion>
                    </div>
                </layout-h>
            </div>
            <div layoutBody>
                <router-outlet></router-outlet>
            </div>
        </layout-v>
    </div>
    <div swiperRight></div>
</swiper-h>