core-forms {
    [layoutBody]{
        overflow: auto;
    }
    .footer_container {
        position: relative;
        width: 100%;
        border-radius: 5px;
        background: #fff;
        flex: 1;
        .footer_info {
            color: orangered;
            text-align: center;
        }
        .weui-cell {
            padding: 5px 5px;
        }
        p {
            margin: 0px;
            padding: 0px;
            font-size: .9em;
        }
        .weui-cell__ft {
            font-size: .7em;
        }
    }
    .footer-btn {
        position: relative;
        margin-top: 6px;
        height: auto;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
    }
    .balance_pay_icon,
    .icon_broadcast_message {
        display: block;
        width: 1em;
        height: 1em;
        background-size: cover;
        margin-right: 5px;
    }
    .address_item_divider {
        display: block;
        height: 1px;
        width: 100%;
        color: #ccc;
        background: #ccc;
        transform: scaleY(0.5);
    }
    .address_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        position: relative;
        .weui-input {
            flex: 1;
            font-size: .8em;
        }
    }
    form-image {
        uploader {
            padding: 0 10px;
            margin-top: 5px;
            padding-top: 5px;
        }
    }
}